html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: end;
  gap: 3ch;
}

nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
  margin: 12px;
  width: 200px;
}

li {
  background-color: maroon;
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

box,
article {
  display: flex;
  flex-direction: column;
  text-align: left;
}
main {
  display: flex;
  align-items: baseline;
  gap: 2ch;
  flex: 1;
}

.brand {
  color: maroon;
  font-size: x-large;
  font-weight: bolder;
  font-display: block;
  text-transform: uppercase;
  font-size: 2rem;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.testimonial {
  background-color: papayawhip;
}
